#modal{
    display: none;
    position: fixed;
    width: 45%;
    top: 50%;
    left: 50%;
    right: 25%;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    padding: 20px;
    background-color: purple;
    color: aqua;
    transform: translate(-50%, -50%)
}

.btnopen{
    background-color: pink;
    cursor: pointer;
}

.btnclose{
    background-color: pink;
    cursor: pointer;
}

