#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.btnopen{
    background-color: pink;
    cursor: pointer;
}


.container{
    display: flex;
    background-color: purple;
    color: aqua;
    width: 350px;
    height: 250px;
}

.btnclose{
    display: flex;
    align-self: flex-end;
    background-color: pink;
    cursor: pointer;
    
}

